*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(247, 239, 239); */
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 1136 x 402;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    padding: 48px;
}

.bg-wrapper{
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 10px rgb(245, 245, 245);
  /* gap: 40px; */
   /* height:360px;
  width: 900px;  */
  width: 1136px;
  height: 402px;
  /* width: 1136 x 402; */
}

.wrapper .bg-wrapper .logo-section .sign-in-section p{
  background-color: #ffffff;
  font-size: 25px;
}
.wrapper .bg-wrapper .logo-section .sign-in-section span{
    font-size:36px;
}

.wrapper .bg-wrapper .logo-section .sign-in-section .text-section{
    font-size:16px;
    
}
